### Importing Libraries

In [1]:
import pandas as pd
import statistics
import scipy.stats as stats
import numpy as np
from itertools import permutations
from tqdm import tqdm
import operator

###  Importing Data

In [2]:
df = pd.read_csv('dont-overfit-ii/train.csv')
df.head()

,id,target,0,1,2,3,4,5,6,7,...,290,291,292,293,294,295,296,297,298,299
0,0,1.0,-0.098,2.165,0.681,-0.614,1.309,-0.455,-0.236,0.276,...,0.867,1.347,0.504,-0.649,0.672,-2.097,1.051,-0.414,1.038,-1.065
1,1,0.0,1.081,-0.973,-0.383,0.326,-0.428,0.317,1.172,0.352,...,-0.165,-1.695,-1.257,1.359,-0.808,-1.624,-0.458,-1.099,-0.936,0.973
2,2,1.0,-0.523,-0.089,-0.348,0.148,-0.022,0.404,-0.023,-0.172,...,0.013,0.263,-1.222,0.726,1.444,-1.165,-1.544,0.004,0.800,-1.211
3,3,1.0,0.067,-0.021,0.392,-1.637,-0.446,-0.725,-1.035,0.834,...,-0.404,0.640,-0.595,-0.966,0.900,0.467,-0.562,-0.254,-0.533,0.238
4,4,1.0,2.347,-0.831,0.511,-0.021,1.225,1.594,0.585,1.509,...,0.898,0.134,2.415,-0.996,-1.006,1.378,1.246,1.478,0.428,0.253

### Feature Engineering using arthmetic of all feature combination and trignometric operation

In [3]:
df_fe = df.copy()

for i in tqdm(list(permutations(df.columns.values[2:],2))):
    #https://stackoverflow.com/questions/34312846/iterate-through-a-sequence-of-operators
    for op in [('+', operator.add), ('-', operator.sub), ('*', operator.mul), ('/', operator.truediv)]:
        if((i[1]+op[0]+i[0] in df_fe.columns) and (op[0] == '+' or op[0] == '*')):
            continue
        df_fe[i[0]+op[0]+i[1]] = op[1](df_fe[i[0]],df_fe[i[1]]) #applying arithmetic operation

100%|██████████████████████████████████████████████████████████████████████████| 89700/89700 [2:16:57<00:00, 10.92it/s]

In [4]:
a = [np.cos, np.sin, np.cosh, np.sinh, np.exp]
for i in tqdm(a):
    prefix = str(i).split('\'')[1]+'_' #prefix will be "methodName_" Eg: cos_0
    for col in df.columns[2:]: # columns from 0 to 299
        df_fe[prefix+col] = df[col].apply(i) #applying trignometric operation

100%|████████████████████████████████████████████████████████████████████████████████████| 5/5 [01:10<00:00, 14.18s/it]

### Engineered Features

In [6]:
df_fe

,id,target,0,1,2,3,4,5,6,7,...,exp_290,exp_291,exp_292,exp_293,exp_294,exp_295,exp_296,exp_297,exp_298,exp_299
0,0,1.0,-0.098,2.165,0.681,-0.614,1.309,-0.455,-0.236,0.276,...,2.379761,3.845871,1.655329,0.522568,1.958150,0.122824,2.860510,0.661001,2.823564,0.344728
1,1,0.0,1.081,-0.973,-0.383,0.326,-0.428,0.317,1.172,0.352,...,0.847894,0.183599,0.284506,3.892299,0.445749,0.197109,0.632547,0.333204,0.392193,2.645870
2,2,1.0,-0.523,-0.089,-0.348,0.148,-0.022,0.404,-0.023,-0.172,...,1.013085,1.300827,0.294640,2.066797,4.237612,0.311923,0.213525,1.004008,2.225541,0.297899
3,3,1.0,0.067,-0.021,0.392,-1.637,-0.446,-0.725,-1.035,0.834,...,0.667644,1.896481,0.551563,0.380602,2.459603,1.595201,0.570068,0.775692,0.586842,1.268709
4,4,1.0,2.347,-0.831,0.511,-0.021,1.225,1.594,0.585,1.509,...,2.454689,1.143393,11.189770,0.369354,0.365679,3.966960,3.476409,4.384169,1.534186,1.287883
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,245,0.0,-1.199,0.466,-0.908,2.771,1.631,0.931,0.182,-0.652,...,2.062667,1.193631,0.961751,2.136139,1.585659,0.784272,1.690459,1.324454,0.774916,0.321101
246,246,0.0,0.237,0.233,-0.380,-1.748,0.839,-0.721,-0.114,0.005,...,2.356082,1.158354,1.823942,0.810584,0.463940,2.729177,0.375687,1.007025,1.118513,0.572353
247,247,0.0,1.411,-1.465,0.119,0.583,1.634,-0.207,1.173,1.622,...,0.607137,0.634448,2.136139,1.248571,1.110711,0.483357,1.585659,2.138276,1.182937,0.487239
248,248,1.0,0.620,1.040,0.184,-0.570,-0.087,-0.748,-1.559,-0.553,...,1.745428,0.224473,2.656475,2.415726,0.220469,1.612845,0.402524,0.447088,7.606476,0.655079
249,249,0.0,0.489,0.403,0.139,-2.046,1.345,0.122,1.255,0.647,...,0.975310,3.687689,0.310677,4.108262,1.676989,2.252408,1.308655,0.233634,0.535261,4.366667

### Checking if data contains inf, -inf, nan

In [7]:
#checking nan
df_fe.columns[df_fe.isna().any() == True]

Index(['62/105', '105/62', '255/287', '287/255'], dtype='object')

In [8]:
#checking inf
df_fe.columns[df_fe.isin([np.inf]).any() == True]

Index(['0/10', '0/40', '0/47', '0/48', '0/107', '0/252', '0/255', '0/280',
       '1/4', '1/40',
       ...
       '298/287', '299/10', '299/33', '299/47', '299/48', '299/150', '299/205',
       '299/252', '299/255', '299/280'],
      dtype='object', length=3280)

In [9]:
#checking -inf
df_fe.columns[df_fe.isin([-np.inf]).any() == True]

Index(['0/4', '0/33', '0/36', '0/62', '0/68', '0/105', '0/150', '0/157',
       '0/165', '0/205',
       ...
       '299/62', '299/68', '299/105', '299/107', '299/157', '299/165',
       '299/232', '299/239', '299/240', '299/287'],
      dtype='object', length=3294)

### Removing rows with inf, -inf, nan

In [10]:
indices_to_keep = ~df_fe.isin([np.nan, np.inf, -np.inf]).any(1)
indices_to_keep

0      True
1      True
2      True
3      True
4      True
       ...
245    True
246    True
247    True
248    True
249    True
Length: 250, dtype: bool

In [11]:
df_fe_clean = df_fe[indices_to_keep].astype(np.float64)

### Saving Engineered Features

In [12]:
df_fe_clean.to_csv('dont-overfit-ii/processed_data/engineered_features_clean.csv', index=False)